.myPagination{
    width: 600px;
    height: 200px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.lists{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
